* {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  margin-top: 30px;
  width: 600px;
  text-align: center;
  color: white;
}

.title1 {
  font-size: 3rem;
}

.title2 {
  font-size: 2rem;
}

.icon_holder {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon_red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(250, 96, 96);
}

.icon_img img {
  width: 20px;
  color: white;
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .title1 {
    font-size: 1.5rem;
  }

  .title2 {
    font-size: 1rem;
  }
}
