.episode_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 200px;
  margin: 20px auto;
}

.episode_image {
  height: 200px;
  width: 30%;
  overflow: hidden;
}

.episode_image img {
  /* height: 150px; */
  width: auto;
  height: auto;
}
.episode_desc {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
  width: 70%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episode_desc .title {
  font-size: 1.5rem;
  padding: 5px;
}
.episode_desc .desc {
  padding: 5px;
  font-size: 0.8rem;
}

.button_holder {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.button_holder button {
  padding: 3px 30px;
}

@media screen and (max-width: 1024px) {
  .episode_card {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .episode_card {
    width: 100%;
    margin: 20px 5px;
  }
}

@media screen and (max-width: 500px) {
  .episode_card {
    width: 100%;
    margin: 20px 5px;
    height: 230px;
  }
  .episode_image {
    height: 230px;
  }
  .episode_desc {
    height: 230px;
  }
}
